@media only screen and (max-width: 375px) {
  
    
    nav{
        display: none;
    }

    .section-img{
        width: 359px;
        height: 166px;   
    }
    
    .img-post{
        width: 359px;
        height: 166px;
       
    }

    .pang{
        margin: 32px 0;
        display: flex;
        width: 375px;
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;   
    }



}


@media only screen and (min-width:  768px) {
    nav{
        display: none;
    }

    main{
        margin: 12px;
    }

    .subtopic-block{
        display: flex;
        gap: 32px;
        flex-direction: column;
    }
    
    .section-img{
        width: 296px;
        height: 166px;     
    }
    
    .img-post{
        width: 296px;
        height: 166px;
       
    }

    .post{
        display: flex;
        gap: 24px;
        border-bottom: 1px solid #D4D4D4;;
        padding-bottom: 32px;
    }

    .more-about-block{
        
        display: flex;
        flex-direction: column;
        gap: 40px;
    
    }
    
    .post-block{
        display: flex;
        gap: 24px;
        align-items: center;
    }

    
}


@media only screen and (min-width:  1368px){
    .burger{
        display: none;
    }

    header{
        padding: 0 32px;
    }

    .img-post{
        width: 196px;
        height: 110px;
        
    }
    
    main{
        margin: 0 36px;
    }

    .section-2{
        margin-top: 32px;
        display: flex;
    }

    .more-about-block{
        margin-left: 36px;
        margin-top: 0;
    }

    .section-img{
        width: 306px;
        height: 172px;
       
    }

    .section-1{
        margin-top: 32px;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #D4D4D4;;
        padding-bottom: 32px;
    }
    .subtopic-block{
        margin-left: 24px;
        margin-top: 0   ;
        display: flex;
        gap: 24px;
        flex-direction: column;
    }
   
    .post{
        display: flex;
        gap: 24px;
        border-bottom: 1px solid #D4D4D4;;
        padding-bottom: 32px;
    }

    .more-about-block{
        margin-left: 36px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    
    }
    
    .post-block{
        display: flex;
        gap: 24px;
        align-items: center;
    }
}