*{
    margin: 0;
    padding: 0
}


    
body{
font-family: "Urbanist";
    
font-family: Urbanist;  

 }

header{
    display: flex;
    
    padding-right: 0px;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);    
}

.burger{
    display: flex;
    padding: 18px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background: #006CE5;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 24px;   
}


.nav-live{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    border-left: 1px solid #D4D4D4; 
    padding: 8px;
}

.nav-live span{
    color: #ED0E05;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

ul{
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.image{
   margin: 14px 0;
}

.header-text, li, a{
    list-style: none;
    text-decoration: none;
    color: #1A1B1B;
    text-align: center;

    font-size: 16px;
    font-weight: 600;
}

nav{
    display: flex;
    align-items: center;

}
/* ---------------------------------------------- */
main{
    margin: 0 8px;
   
}

.main-text{
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #D4D4D4; 
}

.main-text h2{
    
    color: #1A1B1B;
    font-size: 22px;
    font-weight: 400;
    line-height: 125%; 
}

.main-text h1{
    
    color: #1A1B1B;
    font-size: 62px;
    font-weight: 600;
    line-height: 110%; 
    margin-top: 1px;

} 

.section-1{
    flex-direction: column;
    margin-top: 32px;
  
}

.policia{
    background: url(../img/image\ 1.png), lightgray 50% / cover no-repeat;
    width: 744px;
    height: 416px;
}

.topic-post{
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 746px;
    height: 496px;
    flex-direction: column;
    gap: 16px;
    
    
}



.img-post{
    width: 359px;
    height: 166px;   
    position: relative; 
    top: 0;
}

.play{
    position: absolute;
    top: 68px;
    left: 154px;
}

.play-2{
    position: absolute;
    top: 130px;
    left: 264px;
}

.text{
    
    color: #1A1B1B;
    font-size: 28px;
    font-weight: 800;
    line-height: 110%; /* 30.8px */
}

.plate p{
    color: #0B3462;
    font-size: 16px;
    font-weight: 400;
    line-height: 110%; /* 17.6px */
    text-transform: uppercase;
}

.plate{
    position: absolute;
    top: 380px;
    display: inline-flex;
    padding: 10px 20px 10px 0px;
    align-items: flex-start;
    background: #FFF;
}

.subtopic-block{
    margin-top: 56px;
    display: flex;
    gap: 24px;
    flex-direction: column;
}


button{
    cursor: pointer;
}

.post{
    margin-bottom: 14px;
    gap: 24px;
    border-bottom: 1px solid #D4D4D4;;
    padding-bottom: 32px;
}

.title-text{
    color: #0B3462;
    font-size: 16px;
    font-weight: 400;
    line-height: 110%; /* 17.6px */
    text-transform: uppercase;
}

.paragraph{
    margin-top: 10px;
    color: #1A1B1B;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%; /* 21.6px */
}




.section-title{
    
    color: #1A1B1B;
    font-size: 34px;
    font-weight: 800;
    line-height: 110%; /* 37.4px */
     
}

.more-about-block{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.post-block{

    gap: 24px;
    align-items: center;
}

.subtopic-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}


.news-text{
    color: #1A1B1B;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
}

.date{
    color: #1A1B1B;
    font-size: 14px;
    font-weight: 200;
    line-height: 120%; /* 16.8px */
}


.pang{
    margin: 32px 0;
    display: flex;
    
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;   
}

.pang-content{
    display: flex;
    align-items: center;
    gap: 16px;
}

.pages{
    display: flex;
    width: 37px;
    height: 37px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 500px;
    border: 1px solid #D4D4D4;
    background-color: #FFF;    
}

.frame{
    color: #1A1B1B;
    font-size: 14px;
    font-weight: 800;
    line-height: 120%; /* 16.8px */   
}

.pages-text{
    color: #006CE5;
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    line-height: 120%; /* 16.8px */    
}



.next{
    display: flex;
    align-items: center;
    gap: 8px;
    text-transform: uppercase;    
}

.rectangle-search{
    margin-top: 40px;
    height: 274px;
    width: 100%;
    flex-shrink: 0;
    border-top: 3px solid #D4D4D4;
    background: #EEF2F3;    
    display: flex;
    
    justify-content: center;
}

.search-tag{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
    
}

.search{
    display: flex;

}


.search input{ 
    height: 36px;
    display: flex;
    width: 306px;
    padding-left: 10px;
    justify-content: space-between;
    align-items: center;
    background: #DCE4E7;
    border: none;
}



.dandruff{
    display: flex;
    padding: 10px;
    align-items: flex-start;
    background: #006CE5;    
    border: none;
}

.tag-head{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
}

.tag-button{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 800px;
    background: #FFF;
    border: none;
}



.tag-text{
    color: #1A1B1B;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
}

.tag-items{
    display: flex;
    gap: 8px;
    margin-top: 16px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

footer{
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-footer{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.footer-text{
    color: #1A1B1B;
    font-size: 16px;    
    font-weight: 400;
    line-height: 120%; /* 19.2px */    
}